
header {
    position: relative;
    Margin-top: -8px;
    margin-left: 275px;
    margin-right: 61%;
    margin-bottom: 50px;
    padding: 20px;
    font-size: 46px;
    color: white;
    background-color: rgb(95, 172, 235);
    text-align: center;
}

#headerBackground {
    position: relative;
    background-color: white;
    border-bottom: solid black 2px;
    margin-bottom: 50px;
    height: 86px;
    width: 100%;
}

nav {
    float: right;
    font-size: 25px;
    margin-top: -110px;    
}

#aboutTab {
    float: left;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 40px;
    text-decoration: none;
}

#portfolioTab {
    float: left;
    margin-top: 10px;
    margin-right: 40px;
    text-decoration: none;
}

#contactTab {
    float: left;
    margin-top: 10px;
    margin-right: 300px;
    text-decoration: none;
} 

.mainContent {
    position: relative;
    background-color:white;
    border: groove oldlace 1px;
    margin: 50 auto;
    padding: 15px;
    font-size: 20px;
    width: 800px;
    overflow: auto;
}

h1 {
    margin-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: rgb(95, 172, 235);
}

hr {
    margin-left: 0px;
    margin-right: 0px;
    height: 3px;
    background-color: lightgrey;
}

#profilePic {
    float: left;
    margin: 5px 10px 10px 50px;
}

p {
    margin-left: 49px;
}

.program {
    position: relative;
    float: left;
    padding: 20px;
    margin: 10px 0px 0px 32px;
}

.caption {
    position: absolute;
    float: left;
    top: 100px;
    padding: 20px 0px;
    width: 88.3%;
    background-color: rgb(95, 172, 235);
    text-align: center;
}

form {
    margin-left: 37px;
}

.inputField {
    position: relative;
    padding: 20px;
}

.inputBox {
    position: absolute;
    width: 80%;
}

#messageInput {
    position: relative;
    width: 84%;
    height: 200px;
}


footer {
    margin-top: 100px;
    text-align: center;
    background-color: gray;
    padding: 20px;
    border-top: solid 2px rgb(95, 172, 235);
    color: white;
}

@media screen and (max-width: 960px) {
   #headerBackground {
        height: 10%;
   }
   header {
        font-size: 30px;
        width: 200px;
        height: 29px;
        margin-left: 5%;
   }

   nav {
       position: absolute;
       float: right;
       left: 550px;
       padding-top: 10px;
       font-size: 15px;
       margin-right: 0px;
   }

   #contactTab {
       float: right;
       margin-right: 0px;
   }
   
}

@media screen and (max-width: 768px) {
    
    #headerBackground {
        height: 10%;
   }
   header {
        font-size: 20px;
        padding-top: 30px;
        width: 130px;
        height: 19px;
        margin-left: 5%;
   }

   nav {
       position: absolute;
       float: right;
       left: 450px;
       padding-top: 10px;
       font-size: 15px;
       margin-right: 0px;
   }

   #contactTab {
       float: right;
       margin-right: 0px;
   }

   .mainContent {
       width: 80%;
   }
}

@media screen and (max-width: 640px) {
    
    #headerBackground {
        height: 8%;
   }
   header {
        font-size: 18px;
        padding-top: 22px;
        width: 100px;
        height: 13px;
        margin-left: 5%;
        position: static;
   }

   nav {
       position: absolute;
       float: right;
       left: 350px;
       padding-top: 20px;
       font-size: 14px;
       margin-right: 0px;
   }

   #contactTab {
       float: right;
       margin-right: 0px;
   }

   .mainContent {
       width: 80%;
   }
}